{% extends 'rango/base.html' %}
{% load static %}

{% block title_block %}
    Rango - About Page
{% endblock %}

{% block body_block %}
    <div class="jumbotron p-2">
        <div class="container">
            <h1 class="jumbotron-heading">About</h1>
        </div>
    </div>
    <strong>
        This tutorial had been put together by {{user.username}}<br/>
        Visits: {{ visits }} </strong>

    </div>
    </br>
    <img src="{{ MEDIA_URL }}cat.jpg" alt="Picture of cat" />
{% endblock %}