<ul>
    {% if cats %}
        {% for cat in cats %}
            {% if cat == act_cat %}
                <li>
                <strong>
                    <a href="{% url 'rango:show_category' cat.slug %}">{{ cat.name }}
                </strong>
                </li>
            {% else %}
                <li><a href="{% url 'rango:show_category' cat.slug %}">{{ cat.name }} </li>
            {% endif %}
        {% endfor %}
    {% else %}
        <li><strong>There are no categories available.</strong></li>
    {% endif %}
</ul>