<ul>
    {% if cats %}
        {% for cat in cats %}
            {% if cat == act_cat %}
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'rango:show_category' cat.slug %}">
                        <span data-feather="archive"></span>{{ cat.name }}</a>
                </li>
            {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'rango:show_category' cat.slug %}">
                    <span data-feather="archive"></span>
                    {{ cat.name }} </a></li>
            {% endif %}
        {% endfor %}
    {% else %}
        <li class="nav-item">There are no categories available.</li>
    {% endif %}
</ul>