<!DOCTYPE html>
{% load static %} <!-- New line -->

<html>
    <head>
        <title> Rango </title>
        <!-- CSS -->
        <link rel="stylesheet" href="{% static "css/base.css" %}" />
        <!-- JavaScript -->
        <script src="{% static "js/jquery.js" %}"></script>
    </head>
    <body>
        <div class=”jumbotron p-4”> 
            <div class=”container”> 
                <h1 class=”jumbotron-heading”>Rango says…</h1>
                <div> 
                    <h2 class=”h2”> Howdy {{ user.username }}! Hey there partner! </h2>
                </div>
            </div>
            <strong>{{boldmessage}}</strong> <br/>
        </div>

        <div>
            <strong>Most Liked Categories</strong>
            {% if categories %}
            <u1>
                {% for cat in categories %}
                    <li> 
                        <a href="{% url 'rango:show_category' cat.slug %}"> {{cat.name}} </a>
                    </li>
                {% endfor%}
            </u1>
            {% else %}
                <strong> There are no categories available. </strong>
            {% endif %}
        </div><br/>
        <div>
            <strong>Most Viewed Pages</strong>
            {% if pages %}
            <u1>
                {% for page in pages %}
                    <li> 
                        <a href="{{ page.url }}"> {{page.title}} </a>
                    </li>
                {% endfor%}
            </u1>
            {% else %}
                <strong> There are no Pages available. </strong>
            {% endif %}
        </div><br/>

        <a href="{% url 'rango:add_category' %}">Add a New Category </a><br />
        
        <div>
            <a href="{% url 'rango:about' %}">About</a><br/><br/>
            <img src="{% static "images/flower.jpeg" %}"
                alt="Picture of Rango" /> <!-- New line -->
        </div>
    </body>
</html>