<!DOCTYPE html>
{% load static %} <!-- New line -->

<html>
    <head>
        <title> Rango </title>
        <!-- CSS -->
        <link rel="stylesheet" href="{% static "css/base.css" %}" />
        <!-- JavaScript -->
        <script src="{% static "js/jquery.js" %}"></script>
    </head>
    <body>
        <h1>Rango says ...</h1>
        <div>
            hey there partner!<br/>
            <strong>{{boldmessage}}</strong> <br/>
        </div>

        <div>
            {% if categories %}
            <u1>
                {% for cat in categories %}
                    <li> 
                        <a href="/rango/category/{{ cat.slug}}"> {{cat.name}} </a>
                    </li>
                {% endfor%}
            </u1>
            {% else %}
                <strong> There are no categories available. </strong>
            {% endif %}
        </div>
        <div>
            <a href="/rango/about">About</a><br/>
            <img src="{% static "images/flower.jpeg" %}"
                alt="Picture of Rango" /> <!-- New line -->
        </div>
    </body>
</html>